<div class="mesgs">
  <div class="msg_history">
    <li class="message" *ngFor="let message of myMessage;let i = index">
      <div
        *ngIf="
         i%2==0;
          then incoming_msg;
          else outgoing_msg
        "
      ></div>
      <ng-template #incoming_msg>
        <div class="incoming_msg">
          <div class="incoming_msg_img">
            <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{ message }}</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #outgoing_msg>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>{{ message }}</p>
          </div>
        </div>
      </ng-template>
    </li>
  </div>
  <form [formGroup]="checkoutForm" (ngSubmit)="sendMessage()">
    <div>
      <label for="name"> chatMessage </label>
      <input id="name" type="text" formControlName="chatMessage" />
    </div>
    <button class="button" type="submit">SEND</button>
  </form>
</div>
